[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
jinja2 = "*"
beautifulsoup4 = "*"
pyside6 = "6.6"
py2app = "*"
transformers = "*"
jsonpath = "*"
requests = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
