[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drissionpage = "*"
langchain = "*"
jinja2 = "*"
beautifulsoup4 = "*"
pyside6 = "*"
py2app = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
